:root{
    --colorTitre:black;
}
:root{
    --colorPara:black;
}
footer .pourcentage div {
    display: flex;
    justify-content: center;
    border: solide black 3px;
    height: 100%;
    width: 100%;
    background-color: black;
}

footer .pourcentage div h1 {
    margin-left: 150px;
    text-align: center;
    color: white;
}